﻿<div ng-controller="CodeMonkey.SeperatorController">
    
  <div class="cm-header" style="background:{{colorBackground}}; color:{{colorText}}; padding:8px;">
        <h4>{{displayvalue}}</h4>
        <small ng-bind-html="displaydescription" ng-hide="!displaydescription"></small>
    </div>
</div>